#settings {
  > div {
    padding: 20px;
  }

<<<<<<< HEAD
  h3 {
    color: var(--black_gray);
    margin-bottom: 15px;
    opacity: 0.5;

    &::after {
      content: " #";
      opacity: 0.5;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

=======
>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
  > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;

    > div {
      height: auto;
    }

    > div:first-child {
<<<<<<< HEAD
      width: calc(100% - 360px);
=======
      width: 50%;
>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
      color: var(--black);
      background-color: var(--white);

      > form {
        > div {
          padding: 20px;
          border-bottom: 1px solid var(--black_gray);
        }

        p {
          margin-bottom: 15px;
        }
<<<<<<< HEAD
=======

>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
      }
      input[type="submit"] {
        margin: 20px;
      }

<<<<<<< HEAD
      select,
      input {
=======
      input{
>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
        padding: 0px 10px;
        line-height: 30px;
        font-size: 18px;
      }

<<<<<<< HEAD
      > label {
=======
      label {
>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
        display: block;
        margin: 20px 0px 10px;
      }
    }

    > div:last-child {
<<<<<<< HEAD
      position: sticky;
      top: 0px;
      left: 0px;
      height: 100vh;
      overflow-x: scroll;
      width: 360px;
      padding: 20px;
      color: var(--white);
      background-color: var(--black);
      border-bottom: 72px solid var(--white);

      display: flex;
      justify-content: center;

      > iframe {
        height: 300vh;
      }
=======
      width: calc(50% - 40px);
      padding: 20px;
      height: auto;
      color: var(--white);
      background-color: var(--black);
      border-bottom: 74px solid var(--white);
>>>>>>> fd73a7a4c780ac691b15ad0cea22a298f1b72905
    }
  }
}
