#steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-bottom: 25px;
    border-bottom: 3px solid transparent;
    opacity: 0.2;

    span {
      font-size: 0.55em;
      padding-bottom: 5px;
    }

    button {
      border: none;
      padding: 8px;
      border-radius: 0px;
      font-size: 0.8em;
    }
  }
  .active_step {
    opacity: 1;
    border-color: var(--blue);
  }
}