.advertisers {
  position: relative;

  .header {
    position: absolute;
    bottom: 7px;
    left: 15px;

    button {
      min-width: 88px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
