* {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

main {
  padding: 2em 0px;
}

textarea::placeholder,
input::placeholder {
  font-size: 0.8em;
}

hr {
  width: 100%;
}

.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] .MuiAutocomplete-input:first-child {
  padding: 12.5px 8px !important;
}
