html,
body,
#root {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  max-height: unset;
  max-width: unset;
  min-height: 100vh;
  min-width: 100vw;
}

body{
  color: #0210A1;
  font-size: calc(12px + 6 * ( (100vw - 440px) / (2800 - 440) ));
  background-color: #d0ebff;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,CjxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB3aWR0aD0nMTYwJyBoZWlnaHQ9JzE2MCcgdmlld0JveD0nMCAwIDE2MCAxNjAnPjxnIGZpbGw9J25vbmUnIGZpbGwtcnVsZT0nZXZlbm9kZCc+PGNpcmNsZSBjeD0nODAnIGN5PSc4MCcgcj0nNjMnIGZpbGw9JyNCQkUyRjknIG9wYWNpdHk9Jy41MycvPjxwYXRoIGQ9J00wIDBoMTYwdjE2MEgweicvPjwvZz48L3N2Zz4K);
  background-repeat: repeat;
  font-family: "HelveticaNeue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root{
  background-color: transparent;
  position: relative;
}

#demo{
  padding: 3em;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;

  .creative-metadata {
    margin-bottom: 2.2em;

    p{
      margin: 0 0 5px;
      font-size: 1em;
      line-height: 1.3;

      a{
        text-decoration: none;
        color: inherit;
      }
    }

    h1{
      font-family: "NeueHaasGroteskText Pro", sans-serif;
      font-weight: 900;
      font-size: 2em;
      margin: 0;
      text-transform: capitalize;
    }
  }

  .demo_main {
    flex-grow: 1;

    > div {
      flex: 1 1 auto;
    }

    .phone_container{
      flex: 1 1 auto;
    }
  }

  .playworks-logo_svg__e {
    position: absolute;
    height: 2.8em;
    bottom: 1.5em;
    left: 1.5em;
  }
}

.click_detected{
  .MuiPaper-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 41px 18px 37px;
    box-shadow: 3px 3px 12px rgb(0 0 0 / 10%);

    h2 {
      font-size: 2em;
      color: #0210A1;
      font-weight: 700;
    } 

    p {
      font-size: 1.2em;
      color: #0210A1;
      white-space: break-spaces;
      text-align: center;
    }

    button {
      background-color: #8a66f0;
      border-color: #8a66f0;
      padding: 12px 40px;
      color: white;
      border-radius: 100px;
    }
  }
}