html,
body,
#root {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 0%;
  min-width: 0%;
}

#demo{
  height: 100%;
  color: #0210A1;
  margin: 0;
  padding: 0;
  background-color: #d0ebff;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,CjxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB3aWR0aD0nMTYwJyBoZWlnaHQ9JzE2MCcgdmlld0JveD0nMCAwIDE2MCAxNjAnPjxnIGZpbGw9J25vbmUnIGZpbGwtcnVsZT0nZXZlbm9kZCc+PGNpcmNsZSBjeD0nODAnIGN5PSc4MCcgcj0nNjMnIGZpbGw9JyNCQkUyRjknIG9wYWNpdHk9Jy41MycvPjxwYXRoIGQ9J00wIDBoMTYwdjE2MEgweicvPjwvZz48L3N2Zz4K);
  background-repeat: repeat;
  font-family: "HelveticaNeue", sans-serif;

  .demo_main {
    flex-grow: 1;

    .phone_container{
      height: 100%;
      flex: auto 1 1;
    }
  }
}