.input_password {
  position: relative;

  input {
    font-size: 17px;
    transition: 0.3;
    width: inherit;
    padding: 15px 60px 15px 20px;
    border-radius: 5px;
    width: calc(100% - 82px);
    line-height: 20px;
    border: 1px solid var(--light_gray);

    &:hover,
    &:focus {
      border: 1px solid var(--black);
    }
  }

  button {
    width: 50px;
    height: 40px;
    padding: 0px;
    position: absolute;
    border-radius: 5px;

    right: 5px;
    top: 6px;
  }

  label{
    position: absolute;
    background-color: var(--white);
    top: -14px;
    font-size: 14px;
    left: 20px;
    padding: 4px;
  }
}
