#log_in {
  background-color: var(--light_gray);
  min-height: calc(100vh - 70px);

  h1 {
    float: left;
  }

  .log_in_links {
    float: right;
  }

  form {
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--blue);
    box-shadow: 0px 0px 5px 0px var(--gray);
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    > div {
      margin-bottom: 30px;
    }

    > div:first-child {
      display: flex;
      flex-direction: row;
      width: 100%;

      .react-tel-input {
        font-family: inherit;
        .form-control {
          padding: 15px 15px 15px 55px;
          width: inherit;
        }

        input:disabled{
          background-color: var(--light_gray);
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="submit"] {
      align-self: flex-end;
      margin-top: 10px;
      border: none;
    }
  }
}
