#settings {
  > div {
    padding: 20px;
  }
  h3 {
    color: var(--black_gray);
    margin-bottom: 15px;
    opacity: 0.5;

    &::after {
      content: " #";
      opacity: 0.5;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 780px;
    padding: 0;

    > div {
      height: auto;
    }

    > div:first-child {
      width: calc(100% - 360px);
      min-width: 420px;
      color: var(--black);
      background-color: var(--white);

      > form {
        > div {
          padding: 20px;
          border-bottom: 1px solid var(--black_gray);
        }

        p {
          margin-bottom: 15px;
        }
      }

      input[type="submit"] {
        margin: 20px;
      }

      select,
      input {
        padding: 0px 10px;
        line-height: 30px;
        font-size: 18px;
      }
      > label {
        display: block;
        margin: 20px 0px 10px;
      }
    }
    > div:last-child {
      position: sticky;
      top: 0px;
      left: 0px;
      height: 100vh;
      overflow-x: scroll;
      width: 360px;
      padding: 20px;
      color: var(--white);
      background-color: var(--black);
      border-bottom: 72px solid var(--white);

      display: flex;
      justify-content: center;

      > iframe {
        height: 300vh;
      }
    }
  }
}
