* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.3;
  color: var(--black_gray);
}

h1 {
  font-size: 2.5em;
  line-height: 1.6;
}

h3 {
  font-size: 1.5em;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: var(--black);
  }
}

body {
  --white: white;
  --light_gray: #e6e6e6;
  --gray: #8b8999;
  --black_gray: #4f4e58;
  --black: #282c34;
  --orange: #ebbd5f;
  --red: #eb6543;
  --turquoise: #40eaff;
  --purple: #7579ff;
  --blue: #4285f4;
  --green: #00ca5b;

  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

input[type="button"],
input[type="submit"],
button {
  transition: 0.2s;
  outline: none;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: var(--blue);
  font-size: 1em;
  border-radius: 10px;
  padding: 7px 25px;
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px 0px var(--blue);
    border-color: var(--blue);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--gray);
    background-color: var(--light_gray);
    box-shadow: 0px 0px 5px -1px var(--black) inset;
    transform: scale(0.95);
  }
}

#root {
  white-space: pre-line;
}

#main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
}
.nav_open {
  > div,
  > section {
    margin-left: 190px;
  }

  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

big{
  display: block;
  background-color: var(--orange);
  font-weight: 600;
  padding: 5px 10px;
  margin: 10px 30px 0px 0px;
}

.button_text {
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: none;

  &:hover,
  &:focus {
    color: var(--red);
    border: none;
    box-shadow: none;
  }
}